@font-face {
  src: url(BrandonTextWeb-Regular.woff);
  font-family: "Brandon Regular";
}

@font-face {
  src: url(BrandonTextWeb-Bold.woff);
  font-family: "Brandon Bold";
}

@font-face {
  src: url(BrandonTextWeb-Medium.woff);
  font-family: "Brandon Medium";
}

body, li, a, p {
    font-family: "Brandon Regular", helvetica, arial, sans-serif;
    color: black;
    font-size: 18px;
}

.control-label {
  font-size: 27px;
}

.navbar-default {
    background-color: #e9f3f9;
    border-color: #e9f3f9;
    color: #393C61 !important;

    padding-bottom: 25px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav>li>a {
    padding-top: 5px;
}

.navbar-header {
  border-bottom: 2px solid white;
}

.navbar-brand {
  width: 1000px;
  color: #393C61 !important;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 30px;
}

.navbar-nav {
    clear: left;
}

.navbar-default .navbar-nav>li>a {
   font-size: 27px;
   color: black !important;
  padding-top: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #04AB79 !important;
  background-color: #e9f3f9;
  border-top: 2px solid #04AB79;
  font-weight: 900;
  font-size: 27px;
  padding-top: 20px;
}

.nav-tabs {
    background-color: #e9f3f9;
}

#toptext {
  background-color: #e9f3f9;
  margin: 0;
  padding: 20px;
}


#logo {
  margin-right: 20px;
}

.nav-tabs>li>a {
  border: 0;
    border-radius: 0;
    background-color: #dbe6ec ;
    margin-right: 20px;
    min-width: 200px;
}


.nav-tabs {
   border: 0;
   padding-bottom: 1px;
    margin-bottom: 50px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 0;
  font-weight: 900;
  color: black !important;
}

.nav>li>a:focus, .nav>li>a:hover {
  border: 0;
    color: black !important;
    background-color: #dbe6ec ;
}


